.top-bar  {
    background: #868686;
}
.topbar-bg-color {
    background: #868686;
}


.swatch {
    margin-bottom: 2px;
    border: 1px solid lightgrey;

}
#trigger {
    position: absolute;
    bottom: 0;
    right: 0;
    display: block;
    font-size: 1em;
    padding: 0 1em 1em;
}

.container {
    width: 100%;
    min-height: 200px;
    background-repeat: no-repeat;

    display:         flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-grow: 1;
    flex-shrink: 1;
    flex-wrap: wrap;

    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    -webkit-flex-direction: row;
    -webkit-flex-grow: 1;
    -webkit-flex-shrink: 1;
    -webkit-flex-wrap: wrap;
}


#optionsPanel {
    margin-top: 5px;
}


.panel_outer {
    width: 15%;
    min-height: 125px;
    margin-right: 10px;
    margin-left: 10px;
    display:         flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-grow: 1;
    flex-shrink: 1;
    flex-wrap: wrap;

    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    -webkit-flex-direction: row;
    -webkit-flex-grow: 1;
    -webkit-flex-shrink: 1;
    -webkit-flex-wrap: wrap;

}

.panel_inner  {
    height: 75%;
    width: 60%;
    margin: 5px;
}

.fooDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.fooDialog:target {
    opacity:1;
    pointer-events: auto;
}

.fooDialog > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
}
